// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

.footer-center
    text-align: center

.layout.column > .flex
    min-width: 100%;

.mb-5
    margin-bottom: 1px !important;
    width: 100%;
    
.v-btn
    font-size: 25px !important;
    text-transform: none !important;


        
    